<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    <el-button @click="add()" type='primary'>新增书单</el-button>
    <el-table :data.sync="list" v-loading="loading">
      <el-table-column prop="id" label="#" width="40" ></el-table-column>
      <el-table-column prop="grade" label="年级" width="150"></el-table-column>
      <el-table-column prop="college" label="学院"></el-table-column>
      <el-table-column prop="major" label="专业"></el-table-column>
      <el-table-column prop="time" label="创建时间"></el-table-column>
      <el-table-column label="操作">
          <template slot-scope="scope">
              <el-button type="text" @click="edit(scope.row)">编辑</el-button>
              <el-popover
                placement="left"
                width="60"
                v-model="scope.row.visible">
                <div style="text-align: right;">
                  <p>是否确认删除？</p>
                  <el-button size="mini" @click="scope.row.visible = false">取消</el-button>
                  <el-button type="primary" size="mini" @click="del(scope.row)">确定</el-button>
                </div>
              <el-button slot="reference" type="text" @click="scope.row.visible = true">删除</el-button>
            </el-popover>
          </template>
      </el-table-column>
  </div>
</el-table>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script type="text/javascript" src="public/script/jquery.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          list: [],
          loading: false
        }
      },
      methods: {
        add () {
          window.location.href = "<{url m=$MOD c='book_order' a='add'}>"
        },
        edit (item) {
          window.location.href = "<{url m=$MOD c='book_order' a='edit'}>" + '&id=' + item.id
        },
        setList() {
          let that = this
          that.loading = true
          $.ajax({
            url: "<{url m=$MOD c='book_order' a='list' step='api'}>",
            success: function(res) {
              res = JSON.parse(res)
              for (let index in res) {
                res[index].visible = false
              }
              that.list = res
              that.loading = false
            }
          })
        },
        del(item) {
          let that = this
          that.loading = true
          $.ajax({
            url: "<{url m=$MOD c='book_order' a='del'}>",
            data: {
              id: item.id
            },
            success: function(res) {
              that.loading = false
              that.$message({
                  message: "删除成功",
                  type: "success"
              });
              that.setList()
            }
          })
        }
      },
      mounted() {
        this.setList()
      }
    })
  </script>
</html>