<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <{include file='backend/lib/meta.html'}>
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/verydows.css" />
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/main.css" />
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/datetimepicker.css"/>
    <script type="text/javascript" src="public/script/jquery.js"></script>
    <script type="text/javascript" src="public/theme/backend/js/verydows.js"></script>
    <script type="text/javascript" src="public/theme/backend/js/list.js"></script>
    <style type="text/css">
        .status-not-start {
            color: #666;
        }
        .status-end {
            color:red;
        }
        .status-going-on {
            color: green;
        }
        #add-full-cut,#remove-full-cut {
            color:#ff850b;
            margin: 0 5px;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            $('#start_time').datetimepicker({
                format:'Y-m-d H:i:s',
                formatDate:'Y-m-d H:i:s',
                allowBlank:false,
                onShow:function(ct){
                    this.setOptions({maxDate:$('#end_time').val()? $('#end_time').val(): false});
                },
                timepicker:true,
            });
            $('#end_time').datetimepicker({
                format:'Y-m-d H:i:s',
                formatDate: 'Y-m-d H:i:s',
                allowBlank:false,
                onShow:function(ct){
                    this.setOptions({minDate:$('#start_time').val()? $('#start_time').val():false})
                },
                timepicker:true
            });
            $("#add-full-cut").on("click", function () {
                var index = $(".full-cut-list").length;
                if (index > 0) {
                    $("#remove-full-cut").show();
                }
                $(this).parent().parent().parent().append(juicer($("#full-cut-tpl").html(), {index:index}));
            })
            $("#remove-full-cut").on("click", function () {
                var index = $(".full-cut-list").length;
                console.log(index)
                if (index == 2) {
                    $("#remove-full-cut").hide();
                }
                $(".full-cut-list:last-child").remove();
            })
        });
    </script>
</head>
<body>
<div class="content">
    <div class="loc"><h2><i class="icon"></i>营销插件 / 满减</h2></div>
    <form method="post" action="<{url m=$MOD c='marketing_plugin' a='full_cut' step='submit'}>">
        <div class="box">
            <div class="module">
                <table class="dataform">
                    <tr>
                        <th width="110">活动名称</th>
                        <td>
                            <input class="txt" type="text" value="<{$full_cut.title}>" id="title" name="title"/>
                        </td>
                        <td class="status-<{$full_cut.status}>">
                            <{$full_cut.status_str}>
                        </td>
                    </tr>
                    <tr>
                        <th width="110">活动时间</th>
                        <td>
                            <input class="date w150 txt" name="start_time" id="start_time" type="text" value="<{$full_cut.start_time}>" placeholder="开始时间" required=""/>
                        </td>
                        <td>
                            <input class="date w150 txt" name="end_time" id="end_time" type="text" value="<{$full_cut.end_time}>" placeholder="结束时间" required=""/>
                        </td>
                    </tr>
                    <tr>
                        <th width="110">优惠设置</th>
                        <td width="220">
                            订单金额（元）
                        </td>
                        <td>
                            减免金额（元）
                            <a id="add-full-cut">增加一级</a>
                            <a id="remove-full-cut" style="display: <?php echo count($full_cut['list']) <= 1 ? 'none' : ''?>">减少一级</a>
                        </td>
                    </tr>
                    <{if !empty($full_cut.list)}>
                        <{foreach $full_cut.list as $k => $v}>
                        <tr class="full-cut-list">
                            <th width="110"></th>
                            <td width="220">
                                <input value="<{$full_cut.list[$k]['order_fee']}>" class="w150 txt order_fee" name="list[<{$k}>][order_fee]" type="text" required=""/>
                            </td>
                            <td>
                                <input value="<{$full_cut.list[$k]['discount_fee']}>" class="w150 txt discount_fee" name="list[<{$k}>][discount_fee]" type="text" required=""/>
                            </td>
                        </tr>
                        <{/foreach}>
                    <{/if}>
                </table>
            </div>
            <div class="submitbtn">
                <button type="submit" class="ubtn btn submit">保存并提交</button>
            </div>
        </div>
    </form>
</div>
<script type="text/template" id="full-cut-tpl">
    <tr class="full-cut-list">
        <th width="110"></th>
        <td width="220">
            <input  class="w150 txt order_fee"  name="list[${index}][order_fee]" type="text" required=""/>
        </td>
        <td>
            <input  class="w150 txt discount_fee" type="text" name="list[${index}][discount_fee]" required=""/>
        </td>
    </tr>
</script>
<script type="text/javascript" src="public/script/juicer.js"></script>
<script type="text/javascript" src="public/theme/backend/js/datetimepicker.js"></script>

</body>
</html>