<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <{include file='backend/lib/meta.html'}>
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/verydows.css" />
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/main.css" />
    <script type="text/javascript" src="public/script/jquery.js"></script>
    <script type="text/javascript" src="public/theme/backend/js/verydows.js"></script>
    <script type="text/javascript">
        function pass(id) {
            $.ajax({
                'url' : "<{url m=$MOD c='sale' a='pass'}>" + "&id=" + id,
                'method' : 'post',
                'dataType' : 'json',
                "success" : function (res) {
                    $('body').vdsAlert({msg: res.status});
                    refresh();
                }
            })
        }

        function refresh() {
            window.location.href = window.location.href;
        }
    </script>
    <style type="text/css">
        .pass {
            color: green;
        }
        .sold-out {
            color: red;
        }
    </style>
</head>
<body>
<div class="content">
    <div class="loc"><h2><i class="icon"></i>代售箱</h2></div>
    <div class="box">
        <div class="module mt5" id="rows">
            <table class="datalist">
                <tr>
                    <th width="60" colspan="1">序号</th>
                    <th class="ta-l">商品名称</th>
                    <th width="150">余量</th>
                    <th width="150">卖出</th>
                </tr>
                <{foreach $list as $v}>
                <tr>
                    <td width="40"><{$v.id}></td>
                    <td class="ta-l">
                        <a class="blue" href="index.php?m=<{$MOD}>&c=goods&a=edit&id=<{$v.goods_id}>"><{$v.goods_name}></a>
                    </td>
                    <td><{$v.qty}></td>
                    <td><{$v.selled}></td>
                </tr>
                <{/foreach}>
            </table>
        </div>
    </div>
</div>
</body>
</html>