<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <{include file='backend/lib/meta.html'}>
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/verydows.css" />
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/main.css" />
    <script type="text/javascript" src="public/script/jquery.js"></script>
    <script type="text/javascript" src="public/theme/backend/js/verydows.js"></script>
    <script type="text/javascript">
        function submitForm(){
            $('#username').vdsFieldChecker({rules:{username:[/^[a-zA-Z][_a-zA-Z0-9]{4,15}$/.test($('#username').val()), '用户名不符合格式要求']}});
            if($('#resetpwd').val() == 1){
                $('#password').vdsFieldChecker({rules:{required:[true, '请设置密码'], password:[true, '密码不符合格式要求']}});
            }
            $('#repassword').vdsFieldChecker({rules:{equal:[$('#password').val(), '两次密码不一致']}});
            $('#name').vdsFieldChecker({rules:{required:[true, '姓名称呼不能为空'], maxlen:[60, '姓名称呼不能超过60个字符']}});
            $('#email').vdsFieldChecker({rules:{required:[true, '电子邮箱不能为空'], email:[true, '无效的电子邮箱地址']}});
            $('form').vdsFormChecker();
        }

        function resetPwd(btn){
            $('.setpwd').removeClass('hide');
            $('#resetpwd').val(1);
            $(btn).parentsUntil('tr').parent().addClass('hide');
        }
    </script>
</head>
<body>
<div class="content">
    <div class="loc"><h2><i class="icon"></i>添加新的充值卡</h2></div>
    <form method="post" action="<{url m=$MOD c='card' a='add' step='submit'}>">
        <div class="box">
            <div class="module">
                <table class="dataform">
                    <tr>
                        <th width="110">可充值金额</th>
                        <td><input title="金额" class="w200 txt" name="amount" id="amount" type="text" /><p class="c999 mt10">精确到小数后2位</p></td>
                    </tr>
                </table>
            </div>
            <div class="submitbtn">
                <button type="button" class="ubtn btn" onclick="submitForm()">保存并提交</button>
                <button type="reset" class="fbtn btn">重置</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>