<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <{include file='backend/lib/meta.html'}>
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/verydows.css" />
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/main.css" />
    <script type="text/javascript" src="public/script/jquery.js"></script>
    <script type="text/javascript" src="public/theme/backend/js/verydows.js"></script>
    <script type="text/javascript" src="public/theme/backend/js/list.js"></script>
    <script type="text/javascript" src="public/theme/backend/js/clipboard.min.js"></script>
    <script type="text/javascript">
        $(function(){searchRes(1);});

        function searchRes(page_id){
            var dataset = {type: $('#type').val(), kw: $('#kw').val(), page:page_id, pernum:12};
            $.asynList("<{url m=$MOD c='card' a='list'}>", dataset, function(data){
                if(data.status == 'success'){
                    juicer.register('format_date', function(v){return formatTimestamp(v, 'y-m-d<br />h:i:s');});
                    $('#rows').append(juicer($('#table-tpl').html(), data));
                    $('#rows tr').vdsRowHover();
                    $('#rows tr:even').addClass('even');
                    if(data.paging != null) $('#rows').append(juicer($('#paging-tpl').html(), data));
                }else{
                    $('#rows').append("<div class='nors mt5'>未找到相关数据记录...</div>");
                }
            });
        }

        function printReceipe(id) {
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: "<{url m=$MOD c='card' a='print'}>",
                data: {id : id},
                success: function(res){
                    if(res.Code == "200"){
                        $('body').vdsAlert({msg:'打印成功'});
                    }else{
                        $('body').vdsAlert({msg: res.Message});
                    }
                },
                error: function(){
                    $('body').vdsAlert({msg:'打印失败'});
                }
            });
        }

        $(function () {
            var clipboard = new Clipboard(".copy");//实例化

            //复制成功执行的回调，可选
            clipboard.on('success', function(e) {
                alert("充值码复制成功");
            });

            //复制失败执行的回调，可选
            clipboard.on('error', function(e) {
                alert("复制失败，请手动复制")
            });
        })

        function pageturn(page_id){searchRes(page_id);}
    </script>
    <style type="text/css">

        .copy,.print {
            display: inline-block;
            color: #0a7bff;
            margin: 0 10px;
            cursor:pointer;
        }
    </style>
</head>
<body>
<div class="content">
    <div class="loc"><h2><i class="icon"></i>充值卡列表</h2></div>
    <div class="box">
        <div class="doacts">
            <a class="ae add btn" href="<{url m=$MOD c='card' a='add'}>"><i></i><font>添加充值卡</font></a>
            <a class="ae btn" onclick="doslvent('<{url m=$MOD c='card' a='delete'}>', 'id')"><i class="remove"></i><font>删除</font></a>
        </div>
<!--        <div class="stools mt5">
            <select id="type" class="slt">
                <option value="0" selected="selected">用户名</option>
                <option value="1">邮箱</option>
            </select>
            <input type="text" class="w300 txt" id="kw" placeholder="输入用户名/邮箱" />
            <button type="button" class="sbtn btn" onclick="searchRes(1)">搜 索</button>
        </div>-->
        <div class="module mt5" id="rows"></div>
    </div>
</div>
<script type="text/template" id="table-tpl">
    <table class="datalist">
        <tr>
            <th width="60" colspan="2">卡号</th>
            <th width="120">充值码</th>
            <th width="120">金额</th>
            <th width="120">可使用</th>
            <th width="120">使用的用户</th>
            <th width="130">创建时间</th>
            <th width="120">操作</th>
        </tr>
        {@each list as v}
        <tr>
            <td width="20"><input name="id" type="checkbox" value="${v.id}" /></td>
            <td width="40">${v.id}</td>
            <td width="120">${v.code}</td>
            <td width="120">${v.amount}</td>
            <td>{@if v.is_used == 0}<i class="icon yes"></i>{@else}<i class="icon no"></i>{@/if}</td>
            <td>{@if v.used_user_id == 0}{@else}<a class="blue" href="index.php?m=<{$MOD}>&c=user&a=view&id=${v.used_user_id}">${v.used_user_id}</a>{@/if}</td>
            <td class="c888">$${v.created_time}</td>
            <td width="120" class="operate">
                <button class="copy" data-clipboard-text="${v.code}">复制</button>
                <button class="print" onclick="printReceipe(${v.id})">打印</button>
            </td>
        </tr>
        {@/each}
    </table>
</script>
<{include file='backend/lib/paging.html'}>
<script type="text/javascript" src="public/script/juicer.js"></script>
</body>
</html>