<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui" charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css"/>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/poper.css" />
    <script type="text/javascript" src="public/script/jquery.js"></script>
    <script type="text/javascript" src="public/theme/backend/js/verydows.js"></script>
    <style>
        .order-status{
            height: 100px;
            line-height: 100px;
            text-align: center;
            margin: auto;
            background: #ff850b;
            color: #fff;
            font-size: 22px;
        }
    </style>
    <script type="text/javascript">
        function popOperate(pop_id){
            $('#'+pop_id).vdsMidst({wrapper:$(window)});
            $('#'+pop_id).show();
            $.vdsMasker(true);
        }
        function closeOperate(pop_id){
            $('#'+pop_id).hide().find('span.vdsfielderr').remove();
            $('#'+pop_id).find('form')[0].reset();
            $.vdsMasker(false);
        }
    </script>
</head>
<body>
<div class="page">
    <div class="order-status">
        <{$status_map[$order.order_status]}>
    </div>

    <div class="weui-cells__title">订单概览</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>订单总额</p>
            </div>
            <div class="weui-cell__ft">￥<{$order.order_amount}></div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>下单时间</p>
            </div>
            <div class="weui-cell__ft"><{date('Y/m/d H:i', $order.created_date)}></div>
        </div>
    </div>

    <div class="weui-cells__title">支付信息</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>支付方式</p>
            </div>
            <div class="weui-cell__ft"><{$order.payment_method_name}></div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>付款时间</p>
            </div>
            <div class="weui-cell__ft"><{if !empty($order.payment_date)}><{date('Y/m/d H:i', $order.payment_date)}><{else}><font class="caaa">暂未支付</font><{/if}></div>
        </div>
    </div>

    <div class="weui-cells__title">订单商品</div>
    <div class="weui-cells">
        <{foreach $goods_list as $v}>
        <div class="weui-cell">
            <div class="weui-cell__hd"><img src="<{$GLOBALS['cfg']['image_host'].$v.goods_image.$GLOBALS['cfg']['image_style']['middle']}>" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
                <p><{$v.goods_name}></p>
            </div>
            <div class="weui-cell__ft">X<{$v.goods_qty}></div>
        </div>
        <{/foreach}>
    </div>

    <div class="weui-cells__title">收件人信息</div>
    <div class="weui-cells">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>姓名</p>
            </div>
            <div class="weui-cell__ft"><{$consignee.receiver}></div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>地址</p>
            </div>
            <div class="weui-cell__ft"><{$consignee.address}></div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <p>手机号</p>
            </div>
            <div class="weui-cell__ft"><a href="tel:<{$consignee.mobile}>"><{$consignee.mobile}></a></div>
        </div>
    </div>

    <div class="bw-row mt5 pad10 ta-c cut">
        <{if $order.order_status == 1 || $order.order_status == 2}>
        <div class="weui-btn-area">
            <a href="javascript:;" class="weui-btn weui-btn_warn" onclick="popOperate('pop-consignee')">修改收件人信息</a>
        </div>
        <{include file='backend/order/operate_consignee.html'}>
        <{/if}>
        <{if $order.order_status == 1}>
	<div class="weui-btn-area">
	      <a href="javascript:;" class="weui-btn weui-btn_warn" onclick="popOperate('pop-amount')">更改订单金额</a>
	</div>
        <{include file='backend/order/operate_amount.html'}>
        <div class="weui-btn-area">
            <a href="javascript:;" class="weui-btn weui-btn_warn" onclick="popOperate('pop-cancel')">取消交易</a>
        </div>
        <{include file='backend/order/operate_cancel.html'}>
        <{/if}>
        <{if $order.order_status > 1 || ($order.order_status > 0 && $order.payment_method == 2)}>
        <div class="weui-btn-area">
            <a href="javascript:;" class="weui-btn weui-btn_primary" onclick="submitShipForm()">确认发货</a>
        </div>
        <{include file='backend/order/operate_shipping.html'}>
        <{/if}>
        <{if $order.order_status == 0}>
        <div class="weui-btn-area">
            <a href="javascript:;" class="weui-btn weui-btn_warn" onclick="popOperate('pop-resume')">恢复交易</a>
        </div>
        <{include file='backend/order/operate_resume.html'}>
        <script type="text/javascript">
            function deleteOrder(e){
                $(e).vdsConfirm({
                    text: '您确定要删除该订单吗? 删除后该订单将无法恢复!',
                    top: -25,
                    left: 300,
                    confirmed: function(){
                        window.location.href= "<{url m=$MOD c='order' a='delete' id=$order.order_id}>";
                    },
                });
            }
        </script>
        <button type="button" class="cbtn btn ml20 mr20" onclick="deleteOrder(this)">删除</button>
        <{/if}>
    </div>
</div>
</body>
</html>
