<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <{include file='backend/lib/meta.html'}>
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/verydows.css" />
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/main.css" />
    <script type="text/javascript" src="public/script/jquery.js"></script>
    <script type="text/javascript" src="public/theme/backend/js/verydows.js"></script>
    <script type="text/javascript" src="public/theme/backend/js/list.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style type="text/css">
        .going-on {
            color: green;
        }
        .end {
            color: #cccccc;
        }
        .not-start {
            color: #000;
        }
        .operate {
            color: #0090c0;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="content">
    <div class="loc"><h2><i class="icon"></i>营销插件 / 秒杀</h2></div>
    <div class="box">
        <div class="doacts">
            <a class="ae add btn" href="<{url m=$MOD c='seckill' a='add'}>"><i></i><font>新建秒杀</font></a>
        </div>
        <div class="module mt5" id="list">
            <table class="datalist">
                <tr>
                    <th width="50">#</th>
                    <th width="150">活动名称</th>
                    <th >活动时间</th>
                    <th width="150">活动状态</th>
                    <th width="50">实付金额</th>
                    <th width="80">付款订单数</th>
                    <th width="50">付款人数</th>
                    <th width="100">操作</th>
                </tr>
                <tr v-for="item in datalist">
                    <td>{{item.id}}</td>
                    <td><a class="blue" v-on:click="view(item.id)" >{{item.name}}</a></td>
                    <td>{{item.start_at}} <br>至 {{item.end_at}}</td>

                    <td v-if="item.status == 'going_on'" class="going-on">{{item.status_text}}</td>
                    <td v-else-if="item.status == 'not_start'" class="not-start">{{item.status_text}}</td>
                    <td v-else class="end">{{item.status_text}}</td>

                    <td>{{item.total_fee > 0 ? item.total_fee : '--'}}</td>
                    <td>{{item.pay_order_amount > 0 ? item.pay_order_amount : '--'}}</td>
                    <td>{{item.pay_user_amount > 0 ? item.pay_user_amount : '--'}}</td>
                    <td>
                        <div v-if="item.status == 'not_start'">
                            <span class="operate" v-on:click="popularize(item.id)">推广</span>
                            <span class="operate" v-on:click="del(item.id)">删除</span>
                        </div>
                        <div v-else-if="item.status == 'going_on'">
                            <span class="operate" v-on:click="popularize(item.id)">推广</span>
                            <span class="operate" v-on:click="end(item.id)">结束</span>
                        </div>
                        <div v-else >
                            <span class="operate" v-on:click="del(item.id)">删除</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    new Vue({
        el: '#list',
        data: {
            datalist: []
        },
        created: function () {
            var that = this;
            $.asynList("<{url m=$MOD c='seckill' a='list'}>", {}, function(data){
                that.datalist = data.list;
            });
        },
        methods: {
            view: function (id) {
                window.location.href = "<{url m=$MOD c='seckill' a='view'}>" + '&id=' + id
            },
            end: function (id) {
                if (window.confirm('结束后，秒杀活动将立即停止，是否确认结束？')) {
                    window.location.href = "<{url m=$MOD c='seckill' a='end'}>" + '&id=' + id;
                }
            },
            del: function (id) {
                if (window.confirm('删除后不可恢复，是否确认删除？')) {
                    window.location.href = "<{url m=$MOD c='seckill' a='del'}>" + '&id=' + id
                }
            },
            popularize: function (id) {
                window.open("<{url m=$MOD c='seckill' a='generate_popularize_image'}>" + '&id=' + id)
            }
        }
    })
</script>
</body>
</html>