<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>打开支付宝客户端</title>
    <style type="text/css">
        *{margin:0; padding:0;}
        a{text-decoration: none;}
        img{max-width: 100%; height: auto;}
        .weixin-tip{position: fixed; left:0; top:0; bottom:0; background: rgba(0,0,0,0.8); filter:alpha(opacity=80);  height: 100%; width: 100%; z-index: 100;}
        .weixin-tip p{text-align: center; margin-top: 10%; padding:0 5%;}
        .android {background: rgba(0,0,0,0.8)}
        .ios{background: #fff}
    </style>
</head>
<body>
<div class="weixin-tip <{$phone_type}>">
    <p>
        <img src="<{$common.theme}>/images/mask_<{$phone_type}>.png" alt="微信打开" id="mask"/>
    </p>
</div>
</body>
</html>
