<!DOCTYPE HTML>
<html>
<head>
<{include file='mobile/default/lib/meta.html'}>
<meta name="keywords" content="商品搜索" />
<meta name="description" content="商品搜索" />
<title>商品搜索 - <{$GLOBALS.cfg.site_name}></title>
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/css/general.css" />
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/iconfont/iconfont.css">
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/css/search.css">
<script type="text/javascript" src="<{$common.theme}>/js/zepto.min.js"></script>
<script type="text/javascript" src="<{$common.theme}>/js/verydows.mobile.js"></script>
<script type="text/javascript" src="<{$common.theme}>/js/search.js"></script>
  <script type="text/javascript" src="<{$common.baseurl}>/public/script/juicer.js"></script>
<script type="text/javascript">
var searchApi = "<{url c='api/goods' a='search'}>"+"?kw=<{if !empty($_GET['kw'])}><{$_GET['kw']}><{/if}>";
</script>
</head>
<body>
<{include file='mobile/default/lib/searcher.html'}>
<div class="wrapper" id="wrapper">
  <div class="searcher">
    <div class="main">
      <a class="back pointer" href="<{url c='mobile/main' a='index'}>"><i class="iconfont">&#xe638;</i></a>
      <a class="latsw pointer" id="latsw"><i class="f18 iconfont">&#xe637;</i></a>
      <div class="scfake in cut"><input id="kwfake" type="text" value="<{$u.kw}>" /></div>
    </div>
  </div>
  <div class="absmu latent hide" id="top-menus">
    <a href="<{url c='mobile/main' a='index'}>"><i class="home iconfont">&#xe606;</i><span>首页</span></a>
    <a href="<{url c='mobile/cart' a='index'}>"><i class="home iconfont">&#xe6af;</i><span>购物车</span></a>
    <a href="<{url c='mobile/order' a='list'}>"><i class="home iconfont">&#xe683;</i><span>订单</span></a>
    <a href="<{url c='mobile/user' a='index'}>"><i class="home iconfont">&#xe632;</i><span>我的</span></a>
  </div>
  <div class="module">
    <{if !empty($goods_list)}>
    <ul class="sortby">
      <{if $u.sort == 0}>
      <li class="cur"><a>默认</a></li>
      <{else}>
      <li><a href="<{url c='mobile/search' a='index' cate=$u.cate brand=$u.brand minpri=$u.minpri maxpri=$u.maxpri kw=$u.kw}>">默认</a></li>
      <{/if}>
      <{if $u.sort == 1}>
      <li class="cur"><a href="<{url c='mobile/search' a='index' cate=$u.cate brand=$u.brand minpri=$u.minpri maxpri=$u.maxpri kw=$u.kw sort='2'}>">价格<i class="arrow iconfont">&#xe63c;</i></a></li>
      <{elseif $u.sort == 2}>
      <li class="cur"><a href="<{url c='mobile/search' a='index' cate=$u.cate brand=$u.brand minpri=$u.minpri maxpri=$u.maxpri kw=$u.kw sort='1'}>">价格<i class="arrow iconfont">&#xe63b;</i></a></li>
      <{else}>
      <li><a href="<{url c='mobile/search' a='index' cate=$u.cate brand=$u.brand minpri=$u.minpri maxpri=$u.maxpri kw=$u.kw sort='1'}>">价格</a></li>
      <{/if}>
      <{if $u.sort == 3}>
      <li class="cur"><a href="<{url c='mobile/search' a='index' cate=$u.cate brand=$u.brand minpri=$u.minpri maxpri=$u.maxpri kw=$u.kw sort='4'}>">销量<i class="arrow iconfont">&#xe63c;</i></a></li>
      <{elseif $u.sort == 4}>
      <li class="cur"><a href="<{url c='mobile/search' a='index' cate=$u.cate brand=$u.brand minpri=$u.minpri maxpri=$u.maxpri kw=$u.kw sort='3'}>">销量<i class="arrow iconfont">&#xe63b;</i></a></li>
      <{else}>
      <li><a href="<{url c='mobile/search' a='index' cate=$u.cate brand=$u.brand minpri=$u.minpri maxpri=$u.maxpri kw=$u.kw sort='4'}>">销量</a></li>
      <{/if}>
      <li onclick="showFilters()"><a>筛选</a></li>
    </ul>

    <p class="mt15 mb10 center">没找到或者缺货？<a class="link" href="http://wpa.qq.com/msgrd?v=3&uin=1947117530&site=qq&menu=yes">联系小二上架</a></p>

    <div class="srli" id="srli" data-cur='1' data-next='2'>
      <{foreach $goods_list as $v}>
      <a class="item" href="<{url c='mobile/goods' a='index' id=$v.goods_id}>">
        <div class="gim">
          <img src="<{$GLOBALS['cfg']['image_host'].$v.goods_image.$GLOBALS['cfg']['image_style']['small']}>" />
          <{if $v.stock_qty == 0}>
            <div class="has-selled">卖光啦</div>
          <{elseif $v.pre_sell > 0}>
          <div class="pre-sell">可预定<i class="iconfont clock">&#xe6a2;</i></div>
          <{elseif $v.stock_qty < 3}>
          <{/if}>
        </div>
        <div class="gin">
          <div class="gn"><{$v.goods_name}></div>
          <p style="color: #999">书号：<{$v.goods_sn}></p>
          <p class="pri mt5"><i class="cny">¥</i><font class="f14"><{$v.now_price}></font><{if $v.original_price > 0}><font class="o-price"><i style="font-style: normal"> <{sprintf("%.1f",$v.now_price/$v.original_price * 10)}>折</i></font><{/if}></p>
          <div class="st mt5 mustrcut"><span>杭电免邮</span><div class="pay-number"><{if $v.orders_count}> <{$v.orders_count}>人付款<{/if}></div></div>
        </div>
      </a>
      <{/foreach}>
    </div>
    <div class="nomore hide" id="nomore">—— 没有更多内容了 ——</div>
    <{else}>
    <div class="nodata">
      <div class="th"><span><i class="iconfont">&#xe639;</i></span><div class="line"></div></div><p class="mt8">抱歉没有找到符合条件的商品</p>
      <p class="mt8 "><a class="link" href="http://wpa.qq.com/msgrd?v=3&uin=1947117530&site=qq&menu=yes">点击催客服上架</a></p>
    </div>
    <{/if}>
  </div>
</div>
<div class="filters hide" id="filters">
  <div class="mask"></div>
  <div class="main">
    <div class="th cut">
      <a class="lt" onclick="closeFilters()"><i class="f18 iconfont">&#xe62d;</i></a>
      <h2>筛选</h2>
    </div>
    <div class="elm cut">
      <{if !empty($filters.cate)}>
      <p class="ek"><span><i class="iconfont">&#xe614;</i></span>分类</p>
      <div class="ev">
        <{if $u.cate == 0}>
        <a class="cur"><i class="iconfont">&#xe61a;</i>不限</a>
        <{else}>
        <a href="<{url c='mobile/search' a='index' brand=$u.brand att=$u.att minpri=$u.minpri maxpri=$u.maxpri kw=$u.kw sort=$u.sort}>">不限</a>
        <{/if}>
        <{foreach $filters.cate as $v}>
        <{if $u.cate == $v.cate_id}>
        <a class="cur"><i class="iconfont">&#xe61a;</i><{$v.cate_name}></a>
        <{else}>
        <a href="<{url c='mobile/search' a='index' cate=$v.cate_id brand=$u.brand att=$u.att minpri=$u.minpri maxpri=$u.maxpri kw=$u.kw sort=$u.sort}>"><{$v.cate_name}></a>
        <{/if}>
        <{/foreach}>
      </div>
      <{/if}>
      <{if !empty($filters.brand)}>
      <p class="ek"><span><i class="iconfont">&#xe614;</i></span>品牌</p>
      <div class="ev">
        <{if $u.brand == 0}>
        <a class="cur"><i class="iconfont">&#xe61a;</i>不限</a>
        <{else}>
        <a href="<{url c='mobile/search' a='index' cate=$u.cate att=$u.att minpri=$u.minpri maxpri=$u.maxpri kw=$u.kw sort=$u.sort}>">不限</a>
        <{/if}>
        <{foreach $filters.brand as $v}>
        <{if $u.brand == $v.brand_id}>
        <a class="cur"><i class="iconfont">&#xe61a;</i><{$v.brand_name}></a>
        <{else}>
        <a href="<{url c='mobile/search' a='index' cate=$u.cate brand=$v.brand_id att=$u.att minpri=$u.minpri maxpri=$u.maxpri kw=$u.kw sort=$u.sort}>"><{$v.brand_name}></a>
        <{/if}>
        <{/foreach}>
      </div>
      <{/if}>
      <{if !empty($filters.attr)}>
      <{foreach $filters.attr as $v}>
      <p class="ek"><span><i class="iconfont">&#xe614;</i></span><{$v.name}></p>
      <div class="ev">
        <{if $v.unlimit.checked == 1}>
        <a class="cur"><i class="iconfont">&#xe61a;</i>不限</a>
        <{else}>
        <a href="<{url c='mobile/search' a='index' cate=$u.cate brand=$u.brand att=$v.unlimit.att minpri=$u.minpri maxpri=$u.maxpri kw=$u.kw sort=$u.sort}>">不限</a>
        <{/if}>
        <{foreach $v.opts as $vv}>
        <{if $vv.checked == 1}>
        <a class="cur"><i class="iconfont">&#xe61a;</i><{$vv.name}></a>
        <{else}>
        <a href="<{url c='mobile/search' a='index' cate=$u.cate brand=$u.brand att=$vv.att minpri=$u.minpri maxpri=$u.maxpri kw=$u.kw sort=$u.sort}>"><{$vv.name}></a>
        <{/if}>
        <{/foreach}>
      </div>
      <{/foreach}>
      <{/if}>
      <{if !empty($filters.price)}>
      <p class="ek"><span><i class="iconfont">&#xe614;</i></span>价格</p>
      <div class="ev">
        <{if $u.minpri == 0 && $u.maxpri == 0}>
        <a class="cur"><i class="iconfont">&#xe61a;</i>不限</a>
        <{else}>
        <a href="<{url c='mobile/search' a='index' cate=$u.cate brand=$u.brand att=$u.att kw=$u.kw sort=$u.sort}>">不限</a>
        <{/if}>
        <{foreach $filters.price as $v}>
        <{if $u.minpri == $v.min && $u.maxpri == $v.max}>
        <a class="cur"><i class="iconfont">&#xe61a;</i><{$v.str}></a>
        <{else}>
        <a href="<{url c='mobile/search' a='index' cate=$u.cate brand=$u.brand att=$u.att minpri=$v.min maxpri=$v.max kw=$u.kw sort=$u.sort}>"><{$v.str}></a>
        <{/if}>
        <{/foreach}>
      </div>
      <{/if}>
    </div>
  </div>
</div>
<script type="text/template" id="goods-tpl">
{@each list as v}
<a href="<{url c='mobile/goods' a='index' id='${v.goods_id}'}>">
<div class="item">
  <div class="gim">
    <img src="<{$GLOBALS['cfg']['image_host']}>${v.goods_image}<{$GLOBALS['cfg']['image_style']['small']}>" />
    {@if v.stock_qty==0}
      <div class="has-selled">卖光啦</div>
    {@else if v.pre_sell > 0}
      <div class="pre-sell">可预定<i class="iconfont clock">&#xe6a2;</i></div>
    {@else if v.stock_qty<10}
      <div class="has-selled">仅剩 ${v.stock_qty} 本</div>
    {@/if}
  </div>
  <div class="gin">
    <a class="gn" href="<{url c='mobile/goods' a='index' id='${v.goods_id}'}>">${v.goods_name}</a>
    <p style="color: #999">书号：${v.goods_sn}</p>
    <p class="pri mt5"><i class="cny">¥</i><font class="f14">${v.now_price}</font></p>
    <div class="st mt5 mustrcut"><span>杭电免邮</span>{@if v.orders_count > 0}<div class="pay-number">${v.orders_count}人付款</div>{@/if}</div>
  </div>
</div>
</a>
{@/each}
</script>
<{include file='mobile/default/lib/footer.html'}>
</body>
</html>