<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <{include file='backend/lib/meta.html'}>
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/verydows.css" />
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/main.css" />
    <link rel="stylesheet" type="text/css" href="public/theme/backend/css/datetimepicker.css"/>
    <script type="text/javascript" src="public/script/jquery.js"></script>
    <script type="text/javascript" src="public/theme/backend/js/verydows.js"></script>
    <style type="text/css">
        .status-not-start {
            color: #666;
        }
        .status-end {
            color:red;
        }
        .status-going-on {
            color: green;
        }
        #add-full-cut,#remove-full-cut {
            color:#ff850b;
            margin: 0 5px;
        }
    </style>
</head>
<body>
<div class="content">
    <div class="loc"><h2><i class="icon"></i>限量回收 / 编辑商品</h2></div>
    <form method="post" action="<{url m=$MOD c='recycle' a='edit' step='submit' id=$recycle_goods.id}>">
        <div class="box">
            <div class="module">
                <table class="dataform">
                    <tr>
                        <th width="110">书号</th>
                        <td>
                            <{$recycle_goods.goods_sn}>
                        </td>
                    </tr>
                    <input type="hidden" name="goods_id" id="goods_id" value="<{$recycle_goods.goods_id}>">  
                    <tr>
                        <th width="110">书名</th>
                        <td id="goods_name">
                           <{$recycle_goods.goods_name}>
                        </td>
                    </tr>
                    <tr>
                        <th width="110">原价</th>
                        <td id="original_price">
                            <{$recycle_goods.original_price}>
                        </td>
                    </tr>
                    <tr>
                        <th width="110">当前售价</th>
                        <td id="now_price">
                             <{$recycle_goods.now_price}>
                        </td>
                    </tr>
                    <tr>
                        <th width="110">回收价</th>
                        <td>
                            <input class="txt" type="text"  name="price" value="<{$recycle_goods.price}>"/>
                        </td>
                    </tr>
                    <tr>
                        <th width="110">已回收</th>
                        <td>
                            <input class="txt" type="text"  name="finish" value="<{$recycle_goods.finish}>"/>
                        </td>
                    </tr>
                    <tr>
                        <th width="110">计划回收</th>
                        <td>
                            <input class="txt" type="number"  name="total" value="<{$recycle_goods.total}>"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="submitbtn">
                <button type="submit" class="ubtn btn submit" id="add">更新</button>
                <a class="btn ubtn" id="delete" href="<{url m=$MOD c='recycle' a='delete' id=$recycle_goods.id}>">删除</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>