<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    .demo-table-expand label {
        width: 90px;
        color: #99a9bf;
    }
    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 45%;
    }
    a {
        color: #409eff;
        text-decoration: none;
        cursor: pointer;
    }
  </style>
</head>
<body>
  <div id="app">
      <el-tabs v-model="currentProcess" @tab-click="handleClick">
          <el-tab-pane label="待处理" name="1"></el-tab-pane>
          <el-tab-pane label="已拒绝" name="2"></el-tab-pane>
          <el-tab-pane label="已完成" name="3"></el-tab-pane>
      </el-tabs>

    <el-table :data.sync="list" v-loading="loading">
      <el-table-column width="40" type="expand">
        <template slot-scope="props">
            <el-form label-position="left" inline class="demo-table-expand">
                <el-form-item label="订单号">
                    <a @click="viewOrderDetail(props.row.order_id)">{{ props.row.order_id }}</a>
                </el-form-item>
                <el-form-item label="申请时间">
                    <span>{{ props.row.created_date}}</span>
                </el-form-item>
                <el-form-item label="收货人">
                    <span>{{ props.row.receiver}}</span>
                </el-form-item>
                <el-form-item label="联系电话">
                    <span>{{ props.row.mobile}}</span>
                </el-form-item>
                <el-form-item label="收货地址">
                    <span>{{ props.row.address}}</span>
                </el-form-item>
                <el-form-item label="原因">
                    <span>{{ props.row.reason}}</span>
                </el-form-item>
                <el-form-item label="描述" v-if="props.row.describe">
                    <span>{{ props.row.describe}}</span>
                </el-form-item>
            </el-form>
        </template>
      </el-table-column>
      <el-table-column prop="id" label="#" width="60"></el-table-column>
      <el-table-column  label="商品" width="400">
            <template slot-scope="props">
                {{ props.row.goods_name }} x {{ props.row.goods_qty }}
            </template>
      </el-table-column>
      <el-table-column prop="refund_fee" label="退款金额" align="center"></el-table-column>
      <el-table-column prop="is_shipping_text" label="发货" align="center"></el-table-column>
      <el-table-column prop="receive_status_text" label="收货" align="center"></el-table-column>
      <el-table-column prop="process_text" label="退款进度"></el-table-column>
      <el-table-column label="操作" align="center" width="150">
          <template slot-scope="scope" v-if="scope.row.process == 1">
            <el-popover
                placement="left"
                width="60"
                v-model="scope.row.visible">
                <div style="text-align: left;">
                  <p>是否确定退款？</p>
                  <el-button size="mini" @click="scope.row.visible = false">取消</el-button>
                  <el-button type="primary" size="mini" @click="refund(scope)">确定</el-button>
                </div>
              <el-button slot="reference"  type="text" @click="scope.row.visible = true" :loading="scope.row.loading">同意</el-button>
            </el-popover>
            <el-button type="text" @click="reject(scope)">拒绝</el-button>
          </template>
      </el-table-column>
  </div>
</el-table>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script type="text/javascript" src="public/script/jquery.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          list: [],
          loading: false,
            currentProcess: '1',
        }
      },
      methods: {
        viewOrderDetail (orderId) {
            window.open("<{url m=$MOD c='order' a='view'}>" + `&id=${orderId}`)
        },
        setList() {
          let that = this
          that.loading = true
          $.ajax({
            url: "<{url m=$MOD c='refund' a='list' step='api'}>" + '&process=' + this.currentProcess,
            success: function(res) {
              res = JSON.parse(res)
              for (let index in res) {
                res[index].visible = false;
                res[index].loading = false;
              }
              that.list = res
              that.loading = false
            }
          })
        },
        refund(scope) {
            let that = this
            scope.row.loading = true
            scope.row.visible = false
            this.list.splice(scope.$index, 1, scope.row)
            $.ajax({
                url: "<{url m=$MOD c='refund' a='agree'}>",
                data: { 
                    refund_id: scope.row.id
                },
                success: function(res) {
                    res = JSON.parse(res)
                    that.$message({
                        message: res.msg,
                        type: res.status
                    });
                    that.setList()
                }
            })
        },
        handleClick(tab, event) {
            this.currentProcess = tab.name;
            this.setList()
        },
        reject(scope) {
          let that = this
          $.ajax({
              url: "<{url m=$MOD c='refund' a='reject'}>",
              data: { 
                  refund_id: scope.row.id
              },
              success: function(res) {
                  res = JSON.parse(res)
                  that.$message({
                      message: res.msg,
                      type: res.status
                  });
                  that.setList()
              }
          })
        }
      },
      mounted() {
        this.setList()
      }
    })
  </script>
</html>